#activity-image {
    background-image: url('img/guillaume-briard-760548-unsplash.jpg'); 
    max-width: 100%;
    height: 75vh;
    min-height: 250px;
    /* -webkit-background-size:cover; 
    -moz-background-size: cover;*/
    background-size: cover;

}

div.position-relative.form-group>label {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: larger;
    font-style: italic;
}

button.btn.btn-secondary {
    margin-top: 20px;
    
}