#food-image {
    background-image: url('img/dan-gold-298710-unsplash.jpg'); 
    max-width: 100%;
    height: 75vh;
    min-height: 250px;
    /* -webkit-background-size:cover; 
    -moz-background-size: cover;*/
    background-size: cover;

}

h3 {
    padding-bottom: 10px;
    padding-top: 20px;
    font-style: italic;
}

button.btn.btn-default {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#6c757d;
    color: #fff;
    border-color: #6c757d;
}

p {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}